
body, html {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    width: 100vw;
}

.container {
    width: 80%;
    max-width: 1000px;
}

.header {
    display: flex;
    align-items: first baseline;
    justify-content: center;
}


/* "Connections" Heading */
h1 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto";
    margin: 0;
}

#Connections {
    font-family: "Roboto Slab";
    font-weight: 900;
    font-size: 50px;
    margin-right: 20px;
}
    

#date {
    color: black;
    font-size: 23px;
    font-family: "Montserrat";
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
/* Main game container styling */
#gameContainer {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 85%;
    max-width: 600px;
    text-align: center;
}

#itemsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: fit-content;
    width:calc(3 * 8px + 4 * 143px);
    justify-content: center;
}
    
/* Item container and individual item styling */
#itemsContainer div {
    cursor: pointer;
    background: #EFEFE7;
    padding: 30px;
    margin: 5px;
    border-radius: 5px;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: bold;
    
}

.items {
    background: #EFEFE7; 
}
    
/* Styling for selected items */
.item.selected {
    background-color: #5a594f; /* Dark grey background for selected items */
}
    
/* Buttons styling for better UI */
.buttons button {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: "Roboto";
    font-size: 16px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 100%;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 25px;
}
    
.buttons button:hover {
    background-color: #BDBDB4;
}
    
    /* Mistake counter styling */
#mistakeCounter {
    margin-top: 20px;
    font-size: 16px;
}
    
/* Result container styling, initially hidden */
#resultsContainer {
    display: none;
    padding: 20px;
    background: #f4f4f4;
    width: 100%;
    margin: 10px;
}
    
/* Individual group styling in results container */
.group {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px 0;
    color: #000000;
    font-size: 16px;
    background-color: #5a594f; 
    border-radius: 8px;
    text-align: center;
    line-height: 1.5;
    font-family: "Roboto";
}

.group.music { background-color: #F9DF6D; } /* Yellow */
.group.awards { background-color: #B1C3EE; } /* Blue */
.group.fruits { background-color: #A0C35A; } /* Green */
.group.zodiac { background-color: #BB80C5; } /* Purple */

@media (max-width: 768px) {
    .container {
        overflow-y: scroll;
    }

    .header {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }
    
    h1, #date {
        font-size: 18px;
    }

    .buttons button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #Connections {
        font-size: 40px;
    }

    #itemsContainer {
        grid-template-columns: repeat(4, 1fr); /* Maintaining 4x4 grid */
        grid-gap: 4px; /* Reduced grid gap */
        width: 100%; /* Fit container width to screen */
        padding: 0; /* Reduce padding if necessary */
    }

    #itemsContainer div {
        padding: 10px; /* Smaller padding */
        font-size: 12px; /* Smaller font size for text in grid items */
    }
}

@media (max-width: 480px) {
    .container {
        overflow-y: scroll;
    }
    
    h1, #date {
        font-size: 18px;
    }

    .buttons button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #Connections {
        font-size: 40px;
    }

    #itemsContainer {
        grid-template-columns: repeat(4, 1fr); /* Maintaining 4x4 grid */
        grid-gap: 2px; /* Reduced grid gap */
        width: 100%; /* Fit container width to screen */
        padding: 0; /* Reduce padding if necessary */
    }

    #itemsContainer div {
        padding: 10px; /* Smaller padding */
        font-size: 12px; /* Smaller font size for text in grid items */
    }
}

@media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body, html {
        min-height: -webkit-fill-available; /* Ensures full height on mobile Safari */
    }

    body {
        position: fixed; /* Prevents bounce effect on iOS */
        overflow: hidden; /* Hides overflow to prevent side scrolling on iOS */
        width: 100%;
    }
}